@import url('https://fonts.googleapis.com/css?family=Overpass');
@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
    margin: 0;
    padding: 0;
    overflow: hidden;
    color: white;
    font-family: "Overpass", sans-serif;
}

html, body {
    font-weight: bold;
    background: url(images/background.jpg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#home-container, #brewery-container {
    width: 80%;
    height: auto;
    border: 5px solid white;
    padding: 10px;
    border-radius: 3%;
    margin: 30px auto;
    background-color: rgba(0,0,0,.5);
    line-height: 1;
}

#title-home, #title-brewery {
    font-size: 3em;
    font-weight: lighter;
}

#bikes-home, #docks-home, #bikes-brewery, #docks-brewery  {
    font-size: 3em;
}

#last-update-home, #last-update-brewery {
    font-size: .8em;
    font-family: 'Roboto', sans-serif;
}